extends layout

block content
    .navbar-wrapper
        .container
            nav.navbar.mainnav.navbar-default(role='navigation')
                .container-fluid
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navitems')
                            span.sr-only Toggle Navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand= title
                    .collapse.navbar-collapse(id='navitems')
                        ul.nav.navbar-nav
                            li.active: a(href='/') Home
                            li: a(href='/parents') Parents
                            li: a(href='/carers') Carers
                            li: a(href='/personswithdisabilities') Persons With Disabilities
                        ul.nav.navbar-nav.navbar-right
                            li: a(href='/login') Log In
                            li: a(href='/register') Register
            .carousel.curvedbottom.slide(data-ride='carousel',id='carousel')
                ol.carousel-indicators
                    li.active(data-slide-to='0', data-target='#carousel')
                    li(data-slide-to='1', data-target='#carousel')
                    li(data-slide-to='2', data-target='#carousel')
                .carousel-inner
                    .item.active
                        img.cover(src='images/parents.jpg', alt='Parents')
                        .carousel-caption Solutions For Parents
                    .item
                        img.cover(src='images/carers.jpg', alt='Carers')
                        .carousel-caption Solutions For Carers
                    .item
                        img.cover(src='images/personswithdisabilities.jpg', alt='Persons With Disabilities')
                        .carousel-caption Solutions For Persons With Disabilities
                a.left.curvedbottom.carousel-control(href='#carousel',data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left
                a.right.curvedbottom.carousel-control(href='#carousel',data-slide='next')
                    span.glyphicon.glyphicon-chevron-right

