doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/components/jquery/jquery.js',type='text/javascript')
    script(src='/components/angular/angular.js',type='text/javascript')
    script(src='/components/angular-animate/angular-animate.js',type='text/javascript')
    script(src='/components/angular-route/angular-route.js',type='text/javascript')
    script(src='/components/angular-resource/angular-resource.js',type='text/javascript')
    script(src='/components/bootstrap/dist/js/bootstrap.js',type='text/javascript')
  body
    block content
