body {
  padding: 0px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.mainnav {
    border-radius: 0px;
    margin-bottom: 0px !important;
}

html {
    background-color: rgba(0,169,239,1);
}

body {
    background-color: #ffffff;
}

.cover {
    width: 100%;
    border-radius: 0 0 16px 16px;
}

.curvedbottom {
    border-radius: 0 0 16px 16px;
}
